# Device Service Configuration
PORT=3002
NODE_ENV=development

# MongoDB Configuration
MONGO_URL=mongodb://mongo:27017
MONGO_DB_NAME=iot

# NATS Configuration
NATS_URL=nats://nats:4222

# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:4000 